/* color scheme
1e56a0
f6f6f6
163172
d6e4f0
*/

html{
    background-color: #f6f6f6;
}

.Company{
    font-size: 60px;
    font-family: 'Zhi Mang Xing', cursive;
    text-align: center;
    width: 100%;
    color: black;
    background-color:#1e56a0;
}
.nav-bar{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-element{
    float: left;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.nav-link.nav-element:hover{
    background-color: grey;
}

.nav-text{
    text-decoration: none;
    color: white;
    font-family: "Righteous",Montserrat, monospace;
    font-size: 15px;
}

.slideshow {
    margin: 30px auto;
    position: relative;
    width: 700px;
    height: 469px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 17px 15px;
}

.slideshow-ele {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}

.container{
    border-radius: 5px;
    background-color: #d6e4f0;
    padding: 10px 10px 10px 10px;
}

.footer{
    font-weight: 700;
    font-size: 20px;
    font-family: "Manrope:wght@300","Jost", cursive;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: black;
    background-color:#163172;
}