/* 
--Old Color Scheme--
1e56a0
f6f6f6
163172
d6e4f0 
-- Page Color --
184d47 - Darkest
bac964 - 2
b6eb7a - 3
f7fbe1 - 4
f7f7ee - 5

--Navbar Color--
373a40 - Darkest
eeeeee - Light
*/

html{
    background-color: #f7f7ee;
}

.Company{
    font-size: 60px;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    width: 100%;
    color: #184d47;
    background-color:#b6eb7a;
    box-sizing: border-box;
}
.nav-bar{
    list-style-type: none;
    background-color: #373a40;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-element{
    float: left;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.nav-link.nav-element:hover{
    background-color: grey;
}

.nav-text{
    text-decoration: none;
    color: #eeeeee;
    font-family: "Righteous",Montserrat, monospace;
    font-size: 16px;
    padding: 5px;
}

.container{
    background-color: #f7fbe1;
    padding: 10px 10px 10px 10px;
}