/* 
--Old Color Scheme--
1e56a0
f6f6f6
163172
d6e4f0 
-- Page Color --
184d47 - Darkest
bac964 - 2
b6eb7a - 3
f7fbe1 - 4
f7f7ee - 5

--Navbar Color--
373a40 - Darkest
eeeeee - Light
*/

html{
    background-color: #f7f7ee;
}

.Company{
    font-size: 60px;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    width: 100%;
    color: #184d47;
    background-color:#b6eb7a;
    box-sizing: border-box;
}
.nav-bar{
    list-style-type: none;
    background-color: #373a40;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-element{
    float: left;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.nav-link.nav-element:hover{
    background-color: grey;
} 

.nav-text{
    text-decoration: none;
    color: #eeeeee;
    font-family: "Righteous",Montserrat, monospace;
    font-size: 16px;
    padding: 5px;
}

.container{
    background-color: #f7fbe1 ;
    padding: 10px 10px 10px 10px;
}

.profile-name{
    margin: auto;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
}

.name{
    padding: 135px 0px 40px 130px;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}

.profile-image{
    width: 200px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
}

.image-box{
    padding: 20px;
    padding-top: 60px;
    align-items: center;
}

.name-and-image{
    display: flex;
    justify-content: space-around;
}

.profile-settings{
    width: 58%;
    background-color: white;
    margin-left: 5%;
    margin-top: 30px;
    box-shadow: 2px 2px 10px #184d47;
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
}

.profile-box{
    display: flex;
}

.card{
    height: 70px;
    display: flex;
    justify-content: space-between; 
}

.my-account{
    width: 150px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 700;
}

.update-button{
    padding-top: 20px;
    padding-right: 20px;
}

.update-profile{
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    background-color: #bac964;
    /* color: #CCFFFF; */
    font-weight: 600;
    padding: 5px 10px;
    border: none;
    outline:none;
}

.update-profile:active {
    transform: translateY(1px);
}

.value-title{
    font-size: 17px;
    margin: 15px 20px 10px 20px;
    font-weight: bold;
    color: #1a001a;
}

.value-box{
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border-color: whitesmoke;
    margin: 10px 15px;
    padding-left: 20px;
    box-shadow: 1px 1px 5px #184d47;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #1f1f2e;
    font-weight: 500;
}

input:focus{
    outline:none;
}

.part{
    width: 100%;
}

.user-info,.contact-info{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-details{
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7ee;
}

.detail-title{
    padding: 20px;
    padding-left: 35px;
    color: #1f1f2e;
    font-weight: bold;
}

.line{
    padding-top: 15px;
    margin: 10px 5%;
}

hr{
    border-top: 2px solid #8c8b8b;
}

.booking-data{
    width: 28%;
    height: 685px;
    background-color: white;
    margin-left: 4%;
    margin-top: 30px;
    box-shadow: 2px 2px 10px #184d47;
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
}

.card2{
    margin: auto;
    padding: 1%;
}

.my-bookings{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 700;

}

.booking-details{
    height: 610px;
    background-color: #f7f7ee;
    overflow-y:scroll;
}

.data-box{
    width: 80%;
    margin: 30px auto;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #184d47;
}

.data{
    width: 80%;
    padding: 20px;
    font-weight: 600;
}